<h2>Explore</h2>
{{outlet}}

{{deployment-graph data=model.namespace circleClicked=(action "showInfo") networkpolicies=model.networkpolicies}}
{{#if infoShown}}
{{info-box data=infoInfos networkpolicies=model.networkpolicies alerts=alerts}}
{{/if}}
